/* login page */
*,
.login-page *:before,
.login-page *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-page body {
    background-color: #ffffff;
}

.login-page .content {
    width: 100%;
    display: flex;
}

.login-page .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002855;
    padding: 15px 50px;
}

.login-page .navbar-logo img {
    float: left;
    width: 50px;
    height: 60px;
    vertical-align: middle;
    cursor: default;
}

.login-page .navbar-title {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    font-family: poppins;
    letter-spacing: 2px;
}

.login-page .left-section {
    width: 50%;
    float: left;
    padding: 50px;
    box-sizing: border-box;
}

.login-page .right-section {
    width: 50%;
    float: right;
    padding: 50px;
    box-sizing: border-box;
}

.login-page .slogan1 {
    font-family: Poppins;
    font-size: 35px;
    color: #002855;
    margin-left: 70px;
    margin-bottom: 15px;
}

.login-page .slogan2 {
    font-family: Poppins;
    font-size: 50px;
    font-weight: bold;
    color: #002855;
    margin-left: 70px;
    margin-bottom: 25px;
    line-height: 55px;
}

.login-page .slogan3 {
    font-family: poppins;
    font-size: 22px;
    color: #002855;
    margin-left: 70px;
    margin-bottom: 17px;
    line-height: 35px;
    text-align: justify;
}

.login-page form {
    height: 485px;
    background-color: #002855;
    border-radius: 15px;
    padding: 50px;
    margin-left: 80px;
    margin-right: 100px;
}

.login-page form * {
    font-family: helvetica;
    color: #ffffff;
    letter-spacing: 1.5px;
    outline: none;
    border: none;
}

.login-page form h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.login-page input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #456c98;
    border-radius: 5px;
    padding: 0 12px;
    margin-bottom: 35px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2px;
}

.login-page ::placeholder {
    color: #feffff;
}

.login-page button {
    margin-top: 25px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.login-page #account {
    font-family: helvetica;
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
}

.login-page #tdk {
    font-family: sans-serif;
    font-style: italic;
    font-size: 30px;
    color: red;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -30px;
}



/* signup page */
*,
.signup-page *:before,
.signup-page *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.signup-page body {
    background-color: #ffffff;
}

.signup-page form {
    height: 690px;
    width: 460px;
    background-color: #002855;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 15px;
    padding: 50px 50px;
}

.signup-page form *,
.signup-page select {
    font-family: helvetica;
    color: #ffffff;
    letter-spacing: 1.5px;
    outline: none;
    border: none;
}

.signup-page form h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    margin-bottom: 38px;
}

.signup-page input,
.signup-page select {
    display: inline-block;
    height: 50px;
    width: 100%;
    background-color: #456c98;
    border-radius: 5px;
    padding: 0 12px;
    margin-bottom: 27px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2px;
    appearance: none;
}

.signup-page select#role {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"%3E%3Cpath fill="white" d="M7 10l5 5 5-5z" /%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 15px center;
}

.signup-page ::placeholder {
    color: #fffefe;
}

.signup-page button {
    margin-top: 13px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}