/* home page */
body {
    font-family: poppins;
    margin: 0;
    padding: 0;
    background: #211951;
}

.home-page .navbar {
    background-color: #279EFF;
    overflow: hidden;
    padding: 10px;
    margin: 20px 35px 0 35px;
    border-radius: 7px;
    text-align: center;
}

.home-page .navbar-logo img {
    float: left;
    width: 30px;
    height: 38px;
    align-items: center;
    margin-top: 2px;
    margin-left: 4px;
}

.home-page .navbar-title {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    font-family: poppins;
    letter-spacing: 0.6px;
    float: left;
    margin-left: 11.5px;
    margin-top: 4.5px;
}

.home-page .search-box {
    display: inline-block;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
}

.home-page .search-box input[type="text"] {
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    color: #000000;
}

.home-page .search-box input[type="text"]::placeholder {
    color: rgb(0, 0, 0);
}

.home-page .search-button {
    border: none;
    background: none;
    cursor: pointer;
    color: #000000;
    font-size: 16px;
    padding: 5px;
}

.home-page .search-button i {
    color: #000000;
}

.home-page .search-button:hover {
    color: #000000;
}

.home-page .profile {
    float: right;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    margin-top: 1.6px;
    margin-right: 4px;
    cursor: pointer;
}

.home-page .profile img {
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 4px;
    margin-top: 2.3px;
    object-position: center;
    object-fit: cover;
}

.home-page .profile-name {
    font-size: 17px;
    color: #000000;
    margin-top: 2.3px;
    margin-right: 4px;
}

.home-page .profile-menu {
    position: absolute;
    top: 50px;
    right: 65px;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 6px;
    display: none;
    z-index: 1;
}

.home-page .profile-menu a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 6px;
    text-align: left;
}

.home-page .profile-menu a:hover {
    color: #ffffff;
    background-color: #000000;
}

.home-page .show-menu {
    display: block !important;
}

.home-page .frame {
    position: relative;
    height: 640px;
    display: flex;
}

.home-page .menu-container {
    margin: 20px 0 0 35px;
    padding: 0px;
    background-color: #279EFF;
    border-radius: 7px;
    width: 203px;
    height: 320px;
    float: left;
}

.home-page .menu-list {
    list-style-type: none;
    padding: 15px 10px 10px 0px;
    margin: 0;
}

.home-page .menu-list li {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.home-page .menu-list li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    padding: 10px;
    border-radius: 7px;
    width: 100%;
    justify-content: center;
}

.home-page .menu-list img {
    margin-right: 7px;
    width: 25px;
    height: 25px;
}

.home-page .menu-list li:nth-child(1) a {
    width: 125px;
    background-color: #2576CB;
    margin: 12px 12px 0px 22px;
}

.home-page .menu-list li:nth-child(2) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.home-page .menu-list li:nth-child(3) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.home-page .menu-list li:nth-child(4) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.home-page .menu-list li:nth-child(5) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 12px 22px;
}

.home-page .menu-list li a.active {
    background-color: #000000;
    color: #fff;
}

.home-page .menu-list li a:hover {
    color: #ffffff;
    background-color: #000000;
}

.home-page .talent-container {
    height: 566px;
    background-color: #279EFF;
    position: relative;
    border-radius: 7px;
    padding: 26px 0px 15px 0px;
    margin-top: 20px;
    margin-left: 20px;
    width: 383.5px;
    overflow: hidden;
    cursor: pointer;
}

.home-page .talent-container h2 {
    font-size: 28px;
    font-weight: 900;
    line-height: 0px;
    letter-spacing: 0.6px;
    margin-bottom: 32px;
    margin-left: 5px;
    margin-top: 16px;
    width: 100%;
    display: block;
    clear: both;
    color: #000000;
    text-align: center;
}

.home-page .talent-card {
    background-color: #F7F7F8;
    height: 155px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 0px;
    margin-right: 22px;
    display: flex;
    align-items: center;
}

.home-page .talent-card:last-child {
    border-bottom: none;
}

.home-page .talent-card img {
    width: 115px;
    height: 150px;
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 24.5px;
}

.home-page .talent-info {
    display: flex;
    flex-direction: column;
}

.home-page .talent-info p {
    margin: 7px 0;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0.6px;
}

.home-page .age-role {
    display: flex;
}

.home-page .age-role p:first-child {
    margin-right: 80px;
}

.home-page .age-role p:last-child {
    margin-left: 0px;
}

.home-page .age-role p {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0.6px;
}

.home-page .talent-card:nth-child(1) {
    background-color: #CEE6F9;
}

.home-page .talent-card:nth-child(2) {
    background-color: #F7F7F8;
}

.home-page .talent-card:nth-child(3) {
    background-color: #CEE6F9;
}

.home-page .talent-card:nth-child(4) {
    background-color: #F7F7F8;
}

.home-page .talent-onwatch {
    height: 566px;
    background-color: #279EFF;
    position: relative;
    border-radius: 7px;
    padding: 26px 15px 15px 15px;
    margin-top: 20px;
    margin-left: 20px;
    width: 383px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page .talent-onwatch h2 {
    font-size: 28px;
    font-weight: 900;
    line-height: 0px;
    letter-spacing: 0.6px;
    margin-bottom: 35px;
    margin-left: 5px;
    margin-top: 16px;
    width: 100%;
    display: block;
    clear: both;
    color: #000000;
    text-align: center;
}

.home-page .player-card {
    background-color: #F7F7F8;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 270px;
}

.home-page .player-header {
    display: flex;
    font-size: 22px;
    font-weight: bold;
}

.home-page .player-rating p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 3px;
}

.home-page .player-stats {
    text-align: left;
}

.home-page .player-card img {
    width: 190px;
    height: 240px;
    margin-left: 11px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.home-page .player-info h2 {
    margin: 17px 0 18px;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

.home-page .player-info .age {
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    border-bottom: 1.5px solid #B9B9BA;
    padding-bottom: 13px;
}

.home-page .detailed-stats {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
}

.home-page .stat {
    text-align: center;
}

.home-page .stat p {
    margin: 3px 0px 6px 0px;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}

.home-page .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 3px;
}

.home-page .icons img {
    width: 30px;
    height: 30px;
    margin: 0 10.5px;
    border-radius: 0px;
    /* object-position: center;
    object-fit: cover;   */
}

.home-page .icons .flag {
    width: 40px;
    height: 30px;
}

.home-page .icons .liga {
    width: 25px;
    height: 37px;
}

.home-page .icons .club {
    width: 30px;
    height: 30px;
}

.home-page .messages-container {
    height: 566px;
    background-color: #279EFF;
    position: relative;
    border-radius: 7px;
    padding: 26px 0px 15px 0px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 35px;
    width: 406px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page .messages-container h2 {
    font-size: 28px;
    font-weight: 900;
    line-height: 0px;
    letter-spacing: 0.6px;
    margin-bottom: 35px;
    margin-left: 5px;
    margin-top: 16px;
    width: 100%;
    display: block;
    clear: both;
    color: #000000;
    text-align: center;
}

.home-page .message {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2.5px solid #279EFF;
    position: relative;
    background-color: #2576CB;
    width: 100%;
}

.home-page .avatar img {
    width: 40px;
    height: 40px;
    background-color: #F0F3FF;
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 30px;
    margin-right: 13px;
}

.home-page .content {
    flex: 1;
}

.home-page .name {
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 2.8px;
}

.home-page .text {
    color: #000000;
}

.home-page .time {
    font-size: 15px;
    color: #000000;
    margin-left: 10px;
    font-weight: bold;
    text-align: top;
    margin-right: 22.5px;
    margin-top: -22px;
}

.home-page .badge {
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: absolute;
    right: 31.5px;
    top: 55%;
}



/* Registration Form Page */
.registration-page .navbar {
    background-color: #279EFF;
    overflow: hidden;
    padding: 10px;
    margin: 20px 35px 0 35px;
    border-radius: 7px;
    text-align: center;
}

.registration-page .navbar-logo img {
    float: left;
    width: 30px;
    height: 38px;
    align-items: center;
    margin-top: 2px;
    margin-left: 4px;
}

.registration-page .navbar-title {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    font-family: poppins;
    letter-spacing: 0.6px;
    float: left;
    margin-left: 11.5px;
    margin-top: 4.5px;
}

.registration-page .profile {
    float: right;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    margin-top: 1.6px;
    margin-right: 4px;
    cursor: pointer;
}

.registration-page .profile img {
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 4px;
    margin-top: 2.3px;
    object-position: center;
    object-fit: cover;
}

.registration-page .profile-name {
    font-size: 17px;
    color: #000000;
    margin-top: 2.3px;
    margin-right: 4px;
}

.registration-page .profile-menu {
    position: absolute;
    top: 50px;
    right: 65px;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 6px;
    display: none;
    z-index: 1;
}

.registration-page .profile-menu a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 6px;
    text-align: left;
}

.registration-page .profile-menu a:hover {
    color: #ffffff;
    background-color: #000000;
}

.registration-page .show-menu {
    display: block !important;
}

.registration-page .frame {
    position: relative;
    height: 640px;
    display: flex;
}

.registration-page .menu-container {
    margin: 20px 0 0 35px;
    padding: 0px;
    background-color: #279EFF;
    border-radius: 7px;
    width: 203px;
    height: 320px;
    float: left;
}

.registration-page .menu-list {
    list-style-type: none;
    padding: 15px 10px 10px 0px;
    margin: 0;
}

.registration-page .menu-list li {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.registration-page .menu-list li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    padding: 10px;
    border-radius: 7px;
    width: 100%;
    justify-content: center;
}

.registration-page .menu-list img {
    margin-right: 7px;
    width: 25px;
    height: 25px;
}

.registration-page .menu-list li:nth-child(1) a {
    width: 125px;
    background-color: #2576CB;
    margin: 12px 12px 0px 22px;
}

.registration-page .menu-list li:nth-child(2) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.registration-page .menu-list li:nth-child(3) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.registration-page .menu-list li:nth-child(4) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.registration-page .menu-list li:nth-child(5) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 12px 22px;
}

.registration-page .menu-list li a.active {
    background-color: #000000;
    color: #fff;
}

.registration-page .menu-list li a:hover {
    color: #ffffff;
    background-color: #000000;
}

.registration-page form {
    height: 550px;
    background-color: #279EFF;
    position: relative;
    border-radius: 7px;
    padding: 10px 60px 60px 60px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 35px;
    width: 1122px;
    overflow: hidden;
    z-index: 0;
}

.registration-page form h2 {
    font-size: 29px;
    font-weight: bold;
    line-height: 8px;
    text-align: center;
    margin-bottom: 31px;
    color: #000000;
}

.registration-page form *,
.registration-page select {
    color: #000000;
    letter-spacing: 1px;
    outline: none;
    border: none;
}

.registration-page form input,
.registration-page form select {
    height: 32px;
    background-color: rgb(203, 203, 203);
    border-radius: 10px;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1.6px;
    appearance: none;
}

.registration-page form label {
    margin-bottom: 3px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 17px;
}

.registration-page .registration-form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12.7px;
}

.registration-page select {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"%3E%3Cpath fill="black" d="M7 10l5 5 5-5z" /%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 8px center;
    color: #000000;
}

.registration-page ::placeholder {
    color: #676767;
}

.registration-page button {
    height: 37px;
    width: 110px;
    background-color: #087200;
    color: #ffffff;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 4px;
    float: right;
}

.registration-page button[name="save"] img {
    width: 19px;
    height: 19px;
    margin-right: 10.5px;
    border-radius: 0px;
    float: right;
    vertical-align: middle;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 30%;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
}

.popup-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #279EFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content .yes-button {
    background-color: #28a745;
}

.popup-content .no-button {
    background-color: #de1f32;
}




/* Talent Page */
.talent-page .navbar {
    background-color: #279EFF;
    overflow: hidden;
    padding: 10px;
    margin: 20px 35px 0 35px;
    border-radius: 7px;
    text-align: center;
}

.talent-page .navbar-logo img {
    float: left;
    width: 30px;
    height: 40x;
    align-items: center;
    margin-top: 2px;
    margin-left: 4px;
}

.talent-page .navbar-title {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    font-family: poppins;
    letter-spacing: 0.6px;
    float: left;
    margin-left: 11.5px;
    margin-top: 4.5px;
}

.talent-page .search-box {
    display: inline-block;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
}

.talent-page .search-box input[type="text"] {
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    color: #000000;
}

.talent-page .search-box input[type="text"]::placeholder {
    color: rgb(0, 0, 0);
}

.talent-page .search-button {
    border: none;
    background: none;
    cursor: pointer;
    color: #000000;
    font-size: 16px;
    padding: 5px;
}

.talent-page .search-button i {
    color: #000000;
}

.talent-page .search-button:hover {
    color: #000000;
}

.talent-page .profile {
    float: right;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    margin-top: 1.6px;
    margin-right: 4px;
    cursor: pointer;
}

.talent-page .profile img {
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 4px;
    margin-top: 2.3px;
    object-position: center;
    object-fit: cover;
}

.talent-page .profile-name {
    font-size: 17px;
    color: #000000;
    margin-top: 2.3px;
    margin-right: 4px;
}

.talent-page .profile-menu {
    position: absolute;
    top: 50px;
    right: 65px;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 6px;
    display: none;
    z-index: 1;
}

.talent-page .profile-menu a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 6px;
    text-align: left;
}

.talent-page .profile-menu a:hover {
    color: #ffffff;
    background-color: #000000;
}

.talent-page .show-menu {
    display: block !important;
}

.talent-page .frame {
    position: relative;
    height: 640px;
    display: flex;
}

.talent-page .menu-container {
    margin: 20px 0 0 35px;
    padding: 0px;
    background-color: #279EFF;
    border-radius: 7px;
    width: 203px;
    height: 534px;
    float: left;
}

.talent-page .menu-list {
    list-style-type: none;
    padding: 15px 10px 10px 0px;
    margin: 0;
}

.talent-page .menu-list li {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.talent-page .menu-list li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    padding: 10px;
    border-radius: 7px;
    width: 100%;
    justify-content: center;
}

.talent-page .menu-list img {
    margin-right: 7px;
    width: 25px;
    height: 25px;
}

.talent-page .menu-list li:nth-child(1) a {
    width: 125px;
    background-color: #2576CB;
    margin: 12px 12px 0px 22px;
}

.talent-page .menu-list li:nth-child(2) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.talent-page .menu-list li:nth-child(3) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.talent-page .menu-list li:nth-child(4) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.talent-page .menu-list li:nth-child(5) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 12px 22px;
}

.talent-page .menu-list li:nth-child(6) a {
    width: 95px;
    background-color: #2576CB;
    margin: 15px 12px 0px 22px;
}

.talent-page .menu-list li:nth-child(7) a {
    width: 95px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.talent-page .menu-list li a.active {
    background-color: #000000;
    color: #fff;
}

.talent-page .menu-list li a:hover {
    color: #ffffff;
    background-color: #000000;
}

.talent-page .filter-menu {
    position: absolute;
    top: 340px;
    right: 65px;
    left: 73.7px;
    background-color: #2576CB;
    border-radius: 7px;
    padding: 13px;
    z-index: 50;
    width: 100px;
    font-size: 16px;
    color: #ffffff;
}

.talent-page .filter-menu a {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 400px;
}

.talent-page .filter-option {
    margin-top: 7px;
}

.talent-page .filter-option input[type="checkbox"] {
    margin-right: 4px;
}

.talent-page .apply-button {
    background-color: #087200;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    padding: 8px 13px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 9px;
}

.talent-page .talent-container {
    background-color: #279EFF;
    position: relative;
    border-radius: 7px;
    padding: 26px 45px 15px 45px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1135px;
}

.talent-page .talent-container .active {
    background-color: #7B7B7B;
}

.talent-page .talent-container :hover {
    background-color: #989898;
}

.talent-page .talent-container h2 {
    font-size: 32px;
    font-weight: 900;
    line-height: 0px;
    letter-spacing: 0.6px;
    margin-bottom: 45px;
    margin-left: 5px;
    margin-top: 26px;
    width: 100%;
    display: block;
    clear: both;
    color: #000000;
    text-align: center;
}

.talent-page .player-card {
    background-color: #F7F7F8;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    width: 190px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 33px;
    margin-left: 10px;
}

.talent-page .player-stats p {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: bold;
}

.talent-page .player-card img {
    width: 175px;
    height: 115px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.talent-page .player-info h2 {
    margin: 15px 0 0px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.talent-page .player-info .rating {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    border-bottom: 1px solid #B9B9BA;
    padding-bottom: 5.5px;
    margin-top: 14px;
}

.talent-page .detailed-stats {
    display: flex;
    justify-content: space-between;
    margin-top: -9.5px;
}

.talent-page .stat {
    text-align: center;
}

.talent-page .stat p {
    margin: 3px 0px 6px 0px;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}

.talent-page .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 7px;
}

.talent-page .icons img {
    width: 20px;
    height: 20px;
    margin: 0 10.5px;
    border-radius: 0px;
}

.talent-page .icons .flag {
    width: 30px;
    height: 20px;
}

.talent-page .icons .liga {
    width: 20px;
    height: 32px;
}

.talent-page .icons .club {
    width: 25px;
    height: 25px;
}




/* On Watch Page */
.onwatch-page .navbar {
    background-color: #279EFF;
    overflow: hidden;
    padding: 10px;
    margin: 20px 35px 0 35px;
    border-radius: 7px;
    text-align: center;
}

.onwatch-page .navbar-logo img {
    float: left;
    width: 30px;
    height: 40x;
    align-items: center;
    margin-top: 2px;
    margin-left: 4px;
}

.onwatch-page .navbar-title {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    font-family: poppins;
    letter-spacing: 0.6px;
    float: left;
    margin-left: 11.5px;
    margin-top: 4.5px;
}

.onwatch-page .search-box {
    display: inline-block;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
}

.onwatch-page .search-box input[type="text"] {
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    color: #000000;
}

.onwatch-page .search-box input[type="text"]::placeholder {
    color: rgb(0, 0, 0);
}

.onwatch-page .search-button {
    border: none;
    background: none;
    cursor: pointer;
    color: #000000;
    font-size: 16px;
    padding: 5px;
}

.onwatch-page .search-button i {
    color: #000000;
}

.onwatch-page .search-button:hover {
    color: #000000;
}

.onwatch-page .profile {
    float: right;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    margin-top: 1.6px;
    margin-right: 4px;
    cursor: pointer;
}

.onwatch-page .profile img {
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 4px;
    margin-top: 2.3px;
    object-position: center;
    object-fit: cover;
}

.onwatch-page .profile-name {
    font-size: 17px;
    color: #000000;
    margin-top: 2.3px;
    margin-right: 4px;
}

.onwatch-page .profile-menu {
    position: absolute;
    top: 50px;
    right: 65px;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 6px;
    display: none;
    z-index: 1;
}

.onwatch-page .profile-menu a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 6px;
    text-align: left;
}

.onwatch-page .profile-menu a:hover {
    color: #ffffff;
    background-color: #000000;
}

.onwatch-page .show-menu {
    display: block !important;
}

.onwatch-page .frame {
    position: relative;
    height: 640px;
    display: flex;
}

.onwatch-page .menu-container {
    margin: 20px 0 0 35px;
    padding: 0px;
    background-color: #279EFF;
    border-radius: 7px;
    width: 203px;
    height: 534px;
    float: left;
}

.onwatch-page .menu-list {
    list-style-type: none;
    padding: 15px 10px 10px 0px;
    margin: 0;
}

.onwatch-page .menu-list li {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.onwatch-page .menu-list li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    padding: 10px;
    border-radius: 7px;
    width: 100%;
    justify-content: center;
}

.onwatch-page .menu-list img {
    margin-right: 7px;
    width: 25px;
    height: 25px;
}

.onwatch-page .menu-list li:nth-child(1) a {
    width: 125px;
    background-color: #2576CB;
    margin: 12px 12px 0px 22px;
}

.onwatch-page .menu-list li:nth-child(2) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.onwatch-page .menu-list li:nth-child(3) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.onwatch-page .menu-list li:nth-child(4) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.onwatch-page .menu-list li:nth-child(5) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 12px 22px;
}

.onwatch-page .menu-list li a.active {
    background-color: #000000;
    color: #fff;
}

.onwatch-page .menu-list li a:hover {
    color: #ffffff;
    background-color: #000000;
}

.onwatch-page .filter-menu {
    position: absolute;
    top: 340px;
    right: 65px;
    left: 73.7px;
    background-color: #2576CB;
    border-radius: 7px;
    padding: 13px;
    z-index: 50;
    width: 100px;
    font-size: 16px;
    color: #ffffff;
}

.onwatch-page .filter-menu a {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 400px;
}

.onwatch-page .filter-option {
    margin-top: 7px;
}

.onwatch-page .filter-option input[type="checkbox"] {
    margin-right: 4px;
}

.onwatch-page .apply-button {
    background-color: #087200;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    padding: 8px 13px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 9px;
}

.onwatch-page .talent-container {
    height: 575px;
    background-color: #045694;
    position: relative;
    border-radius: 7px;
    padding: 15px 45px;
    margin-top: 25px;
    margin-left: 20px;
    width: 50%;
    overflow: hidden;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.onwatch-page .talent-container .active {
    background-color: #7B7B7B;
}

.onwatch-page .talent-container :hover {
    background-color: #989898;
}

.onwatch-page .talent-container {
    background-color: #279EFF;
    position: relative;
    border-radius: 7px;
    padding: 26px 45px 15px 45px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 681px;
}

.onwatch-page .talent-container h2 {
    font-size: 32px;
    font-weight: 900;
    line-height: 0px;
    letter-spacing: 0.6px;
    margin-bottom: 45px;
    margin-left: 5px;
    margin-top: 26px;
    width: 100%;
    display: block;
    clear: both;
    color: #000000;
    text-align: center;
}

.onwatch-page .player-card {
    background-color: #F7F7F8;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    width: 190px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 33px;
    margin-left: 10px;
}

.onwatch-page .player-stats p {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: bold;
}

.onwatch-page .player-card img {
    width: 175px;
    height: 115px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.onwatch-page .player-info h2 {
    margin: 15px 0 0px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.onwatch-page .player-info .rating {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    border-bottom: 1px solid #B9B9BA;
    padding-bottom: 5.5px;
    margin-top: 14px;
}

.onwatch-page .detailed-stats {
    display: flex;
    justify-content: space-between;
    margin-top: -9.5px;
}

.onwatch-page .stat {
    text-align: center;
}

.onwatch-page .stat p {
    margin: 3px 0px 6px 0px;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}

.onwatch-page .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 7px;
}

.onwatch-page .icons img {
    width: 20px;
    height: 20px;
    margin: 0 10.5px;
    border-radius: 0px;
}

.onwatch-page .icons .flag {
    width: 30px;
    height: 20px;
}

.onwatch-page .icons .liga {
    width: 20px;
    height: 32px;
}

.onwatch-page .icons .club {
    width: 25px;
    height: 25px;
}

.onwatch-page .talent-onwatch {
    height: 968px;
    background-color: #279EFF;
    position: relative;
    border-radius: 7px;
    padding: 15px 22px 22px 22px;
    margin-top: 20px;
    margin-left: -15.5px;
    margin-right: 35px;
    width: 390px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.onwatch-page .talent-onwatch img {
    width: 180px;
    height: 200px;
    border-radius: 12px;
    margin-bottom: 15px;
    margin-top: 10px;
    align-self: center;
}

.onwatch-page .talent-onwatch p {
    text-align: left;
    margin-left: 20px;
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 2px;
}

.onwatch-page .talent-onwatch .button-container {
    display: flex;
    justify-content: space-between;
    width: 48%;
    align-self: center;
}

.onwatch-page .btn-edit{
    height: 30px;
    width: 80px;
    background-color: #ffffff;
    color: #000000;
    padding: 7px 7px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 18px;
    border: 0px;
}

.onwatch-page button[name="edit"] img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    margin-top: 0px;
    border-radius: 0px;
    float: right;
    align-content: center;
}

.onwatch-page .btn-delete{
    height: 30px;
    width: 95px;
    background-color: #ff2222;
    color: #ffffff;
    padding: 7px 7px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 18px;
    border: 0px;
}

.onwatch-page button[name="delete"] img {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    margin-top: 0px;
    border-radius: 0px;
    float: right;
}

.popup-delete {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content-delete {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #ffffff;
    width: 30%;
    border-radius: 12px;
    text-align: center;
}

.popup-delete-button {
    margin: 10px;
    background-color: #279EFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-content-delete .yes-button {
    background-color: #28a745;
    font-size: 16px;
}

.popup-content-delete .no-button {
    background-color: #de1f32;
    font-size: 16px;
}





/* Chat Page */
.chat-page .navbar {
    background-color: #279EFF;
    overflow: hidden;
    padding: 10px;
    margin: 20px 35px 0 35px;
    border-radius: 7px;
    text-align: center;
}

.chat-page .navbar-logo img {
    float: left;
    width: 30px;
    height: 38px;
    align-items: center;
    margin-top: 2px;
    margin-left: 4px;
}

.chat-page .navbar-title {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    font-family: poppins;
    letter-spacing: 0.6px;
    float: left;
    margin-left: 11.5px;
    margin-top: 4.5px;
}

.chat-page .search-box {
    display: inline-block;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px 10px;
}

.chat-page .search-box input[type="text"] {
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    color: #000000;
}

.chat-page .search-box input[type="text"]::placeholder {
    color: rgb(0, 0, 0);
}

.chat-page .search-button {
    border: none;
    background: none;
    cursor: pointer;
    color: #000000;
    font-size: 16px;
    padding: 5px;
}

.chat-page .search-button i {
    color: #000000;
}

.chat-page .search-button:hover {
    color: #000000;
}

.chat-page .profile {
    float: right;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    margin-top: 1.6px;
    margin-right: 4px;
    cursor: pointer;
}

.chat-page .profile img {
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 4px;
    margin-top: 2.3px;
    object-position: center;
    object-fit: cover;
}

.chat-page .profile-name {
    font-size: 17px;
    color: #000000;
    margin-top: 2.3px;
    margin-right: 4px;
}

.chat-page .profile-menu {
    position: absolute;
    top: 50px;
    right: 65px;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 6px;
    display: none;
    z-index: 1;
}

.chat-page .profile-menu a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 6px;
    text-align: left;
}

.chat-page .profile-menu a:hover {
    color: #ffffff;
    background-color: #000000;
}

.chat-page .show-menu {
    display: block !important;
}

.chat-page .frame {
    position: relative;
    height: 640px;
    display: flex;
}

.chat-page .menu-container {
    margin: 20px 0 0 35px;
    padding: 0px;
    background-color: #279EFF;
    border-radius: 7px;
    width: 203px;
    height: 320px;
    float: left;
}

.chat-page .menu-list {
    list-style-type: none;
    padding: 15px 10px 10px 0px;
    margin: 0;
}

.chat-page .menu-list li {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.chat-page .menu-list li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    padding: 10px;
    border-radius: 7px;
    width: 100%;
    justify-content: center;
}

.chat-page .menu-list img {
    margin-right: 7px;
    width: 25px;
    height: 25px;
}

.chat-page .menu-list li:nth-child(1) a {
    width: 125px;
    background-color: #2576CB;
    margin: 12px 12px 0px 22px;
}

.chat-page .menu-list li:nth-child(2) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.chat-page .menu-list li:nth-child(3) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.chat-page .menu-list li:nth-child(4) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 0px 22px;
}

.chat-page .menu-list li:nth-child(5) a {
    width: 125px;
    background-color: #2576CB;
    margin: 0px 12px 12px 22px;
}

.chat-page .menu-list li a.active {
    background-color: #000000;
    color: #fff;
}

.chat-page .menu-list li a:hover {
    color: #ffffff;
    background-color: #000000;
}

.chat-page .chat-container {
    height: 545px;
    background-color: #045694;
    position: relative;
    border-radius: 7px;
    padding: 18px 30px 16px 30px;
    margin-top: 20px;
    margin-left: 20px;
    width: 756.5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-page .chat-header {
    background-color: #04395E;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 7px;
}

.chat-page .manager-info {
    display: flex;
    align-items: center;
}

.chat-page .manager-img img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #F0F3FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    margin-right: 8px;
}

.chat-page .manager-name {
    font-size: 16px;
    font-weight: bold;
}

.chat-page .chat-messages {
    flex: 1;
    padding: 12px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #045694;
    scrollbar-width: thin;
    scrollbar-color: #0A467A #092949;
}

.chat-page .message {
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 10px;
    max-width: 60%;
    word-wrap: break-word;
}

.chat-page .manager-message {
    align-self: flex-start;
}

.chat-page .user-message {
    align-self: flex-end;
    background-color: #77DE70;
}

.chat-page .chat-input {
    display: flex;
    padding: 10px;
    position: relative;
    align-items: center;
    font-family: poppins;
}

.chat-page .chat-input input {
    flex: 1;
    padding: 8px;
    border: 0px solid #ffffff;
    border-radius: 20px;
    margin-right: 10px;
    padding-left: 13px;
    padding-right: 50px;
    font-family: poppins;
    font-size: 15px;
}

.chat-page .chat-input input::placeholder {
    color: #5b5b5b;
    font-family: poppins;
}

.chat-page .chat-input button {
    position: absolute;
    right: 28px;
    border: none;
    background: none;
    cursor: pointer;
    color: #000000;
    font-size: 17px;
}

.chat-page .messages-container {
    height: 538.5px;
    background-color: #279EFF;
    position: relative;
    border-radius: 7px;
    padding: 26px 0px 15px 0px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 35px;
    width: 406px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-page .message-list {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2.5px solid #279EFF;
    position: relative;
    background-color: #2576CB;
    width: 100%;
}

.chat-page .avatar img {
    width: 40px;
    height: 40px;
    background-color: #F0F3FF;
    border-radius: 50%;
    margin-top: 6px;
    margin-left: 30px;
    margin-right: 13px;
}

.chat-page .content {
    flex: 1;
}

.chat-page .name {
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 2.8px;
}

.chat-page .text {
    color: #000000;
}

.chat-page .time {
    font-size: 15px;
    color: #000000;
    margin-left: 10px;
    font-weight: bold;
    text-align: top;
    margin-right: 24px;
    margin-top: -22px;
}

.chat-page .badge {
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: absolute;
    right: 32px;
    top: 55%;
}